<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= current_account.name %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'default/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= render 'default/shared/navigation' %>
      <%= yield %>
    </div>
  </body>
</html>
