<!-- Hero row -->
<div class="row">
  <%= image_tag @page.content(:photo).file.url, class: "float-xs-left hidden-md-down hero" %>
  <div class="col-lg-6 col-md-12 editable">
    <%= @page.content(:text).try(:html_safe) %>
    <%= @page.content(:html).try(:html_safe) %>
  </div>
</div>

<!-- Banner and text row -->
<div class="row">
  <div class="container">
    <div class="col-lg-6 col-md-12">
      <h2>Latest News</h2>
      <% @news = Spina::Page.find_by(view_template: "news") %>
      <% if @news.children.any? %>
        <% @news.children.last(2).each do |child| %>
          <%= render partial: 'alderney/shared/news_article_preview_card', locals: { article: child } %>
        <% end %>

        <%= link_to 'View all news', @news.materialized_path, class: 'btn btn-lg btn-primary' %>
      <% else %>
        <p>There is no news yet, please check back soon</p>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12 editable col-grey">
      <h2>Key Dates</h2>

      <div class="date-item my-2">
        <%= @page.content(:key_dates).try(:html_safe) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <h2>Alderney Marine Management Plan</h2>

      <% @timeline = Spina::Page.find_by(view_template: "timeline") %>
      <% if @timeline.children.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Stage</th>
            </tr>
          </thead>
          <tbody>
            <% @timeline.children.last(8).each do |child| %>
              <tr>
                <td><%= child.content(:date).try(:html_safe) %></td>
                <td><%= child.content(:text).try(:html_safe) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'View complete timeline', @timeline.materialized_path, class: 'btn btn-lg btn-primary' %>
      <% else %>
        <p>There are no events yet, please check back soon</p>
      <% end %>
    </div>
  </div>
</div>
