<footer>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h6 class="text-uppercase">rgjgjij</h6>
      <small class="text-muted">
      eijigjwigjwigjweiogjwiogjwgiojwgiojwiojwiogj
      </small>
    </div>
    <div class="col-xs-12 col-md-3 column">
      <h6 class="text-uppercase">Quick Links</h6>
      <ul class="list-unstyled">
        <li> <%= link_to "Derp 1", root_path, class: "nav-link" %> </li>
        <li> <%= link_to "Derp 2", root_path, class: "nav-link" %> </li>
        <li> <%= link_to "Derp 3", root_path, class: "nav-link" %> </li>
        <li> <%= link_to "Derp 4", root_path, class: "nav-link" %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-3 text-xs-right">
      <h6 class="text-uppercase">Derp</h6>
      <span class="pull-right text-muted small">
        Derp ©<%= Date.today.year %><br>
      </span>
    </div>
  </div>
</div>
</footer>

