<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= current_account.name %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'alderney/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'alderney/application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="jIaEg2Zg-u9wq70whxrXQrJQF9caU7VU6krheYJUImU" />
  </head>
  <body>
    <%= render 'alderney/shared/navigation' %>
    <%= yield %>
    <%= render 'alderney/shared/footer' %>
  </body>
</html>
