<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <h1><%= @page.title %></h1>
      <h6> <%= @page.content(:text).try(:html_safe) %> </h6>

      <%= form_tag "/contact" do %>

        <div class="form-group row">
          <%= label_tag :name, class: 'col-xs-2 col-form-label' %>
          <div class="col-xs-10">
            <%= text_field_tag :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= label_tag :email, class: 'col-xs-2 col-form-label' %>
          <div class="col-xs-10">
            <%= text_field_tag :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= label_tag :subject, class: 'col-xs-2 col-form-label' %>
          <div class="col-xs-10">
            <%= text_field_tag :subject, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= label_tag :message, class: 'col-xs-2 col-form-label' %>
          <div class="col-xs-10">
            <%= text_area_tag :message, class: 'form-control' %>
          </div>
        </div>

        <%= submit_tag "Send", class: 'btn btn-primary' %>
      <% end %>



    </div>
  </div>
</div>
