<div class="row">
  <div class="container">
    <div class="col-lg-3 col-md-0">
      <%= image_tag 'banner.jpg', class: 'hidden-md-down' %>
    </div>
    <div class="col-lg-9 col-md-12 editable">
      <div class="row">
        <h1> <%= @page.title %> </h1>
        <h6> <%= @page.content(:text).try(:html_safe) %> </h6>
      </div>
      <h5>Key Documents</h5>
      <hr>
      <%= @page.content(:key_documents).try(:html_safe) %>

      <h5>Meeting Minutes</h5>
      <hr>
      <%= @page.content(:meeting_minutes).try(:html_safe) %>

      <h5>Useful Links</h5>
      <hr>
      <%= @page.content(:useful_links).try(:html_safe) %>
    </div>
  </div>
</div>


